*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'josefine';
    src: url('../font/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'josefine-bold';
    src: url('../font/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gochihand';
    src: url('../font/GOCHIHAND-REGULAR.ttf') format('truetype');
}

@font-face {
    font-family: 'LABELLEAURORE';
    src: url('../font/LABELLEAURORE.ttf') format('truetype');
}

@font-face {
    font-family: 'ROCKSALT';
    src: url('../font/ROCKSALT.ttf') format('truetype');
}


body {
    font-family: 'josefine' !important;
    background-image: url('../img/whirlpool.png');
    font-size: 18px;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: 'josefine' !important;
    }

.centerparent{
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
align-items: center;
justify-content: center;

}
.alignvertical{
  
  margin: auto;  /* Magic! */
}
/*
.pure-u-2-3{
    border: 2px solid black;
}
*/

.custom_border {
    border: 3px solid black;
}

.filters {
    background-color: #C8DCDE;
  
    padding: 20px;
       border: 1px solid #797979;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(181, 181, 181, 1);
    -moz-box-shadow:2px 2px 5px 0px rgba(181, 181, 181, 1);
    box-shadow: 2px 2px 5px 0px rgba(181, 181, 181, 1);

    -webkit-box-shadow: 2px 2px 0px 0px rgba(50, 89, 92, 0.14);
    -moz-box-shadow: 2px 2px 0px 0px rgba(50, 89, 92, 0.14);
    box-shadow: 2px 2px 0px 0px rgba(50, 89, 92, 0.28);
}

.range-slider {
    margin: 20px 0 0 0%;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #407477;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #ffbc26;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #ffbc26;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #407477;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #ff94c9;
}

.range-slider__range:active::-moz-range-thumb {
    background: #ff94c9;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: black;
    background: #502c2c;
    padding: 5px 10px;
    margin-left: 8px;
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #407477;
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #407477;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

.custombutton {
     
    background-color: #407477;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    margin: 10px;
}

#rectangle,
#herz,
#Kullerauge,
#crown {
    
    height: 100px;
}

#preview-container {
    border: 1px solid #797979;
    margin: auto;
   background-color: #C8DCDE;
    /*width: 30em;*/

    /*width: 614px;*/
    width: 75%;
/*    height: 490px;*/

    /*height: 25em;*/
    text-align: center;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(181, 181, 181, 1);
    -moz-box-shadow:2px 2px 5px 0px rgba(181, 181, 181, 1);
    box-shadow: 2px 2px 5px 0px rgba(181, 181, 181, 1);
}

#image-inside {
    position: relative;
/*    background-color: #e6e6e6;*/
    top: 50px;
    left: 25px;
    /* margin-top: 34.25px;*/
    vertical-align: middle;
    border: 1px solid #797979;
/*
    width: 564px;
    height: 353px;
*/
}

/*#canvas{
     
}*/

#canvas_image{
    padding:30px 25px 70px 25px;
     vertical-align: middle;
   
}
.makepic{
    padding: 7px 0px 0px 0px;
    text-align: center;
}
.timer{
    
}
#preview {
    padding:30px 25px 70px 25px;
    
   
    width: 100%;
}

button {
    margin: 0.5em 1em !important;
    padding: 0.5em 1em !important;
    min-width: 10em;
}

select,
input {
    min-width: 80%;
}

#capture {
    text-align: right;
}

#gallery {
    background: lightgray;
}

#gallery img {
    margin: 5px 5px 20px 5px;
    background: white;
    width: 30%;
    float: left;
}

@media (min-width: 600px) {
    body {
        padding: 20px;
    }
}