*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 20px 20px;
    /*    background-image: url('../img/pink%20dust.png');*/
}

.custom_border {
    border: 3px solid black;
}

@media (min-width: 600px) {
    body {
        padding: 20px;
    }
}

.filters {
    background-color: #C8DCDE;
    border: 1px solid rgba(50, 89, 92, 0.14);
    padding: 20px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(50, 89, 92, 0.14);
    -moz-box-shadow: 2px 2px 0px 0px rgba(50, 89, 92, 0.14);
    box-shadow: 2px 2px 0px 0px rgba(50, 89, 92, 0.28);
}

.range-slider {
    margin: 20px 0 0 0%;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #407477;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #ffbc26;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #ffbc26;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #407477;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #ff94c9;
}

.range-slider__range:active::-moz-range-thumb {
    background: #ff94c9;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: black;
    background: #502c2c;
    padding: 5px 10px;
    margin-left: 8px;
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #407477;
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #407477;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

.custombutton {
    background-color: #407477;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    margin: 10px;
}

#rectangle,
#flower,
#crown {
    width: 100px;
    height: 100px;
}